* {
  box-sizing: border-box
}

.top-page-header {
  width: 100vw;
  height: calc( 100vh - 80vh );
  background-color: #f0f0f0;
  flex-direction: row-reverse;
}
.header-logo{
  display: flex;
}

h1 {
  font-size: 40px;
  padding: 50px 0 10px 20px;
}
