<main>
<%# li.animationTarget*4>img[src="img/img$.jpg"]+.contentsText>h2{Dummy title}+p{ここにぶんしょうがはいります。} %>
  <ul class="contents">
      <li class="animationTarget">
        <%= image_tag "img1.png",class:"img-contents" %>
        <div class="contentsText">
          <h2>映画を見た後、
          <br>どんな気持ちになりたいですか？</h2>
          <p>
          みんなの映画レビューを見ていい映画に出会いませんか？<br>
          ここではみんなが映画をみた感想をあつめて映画を育てることを目的にしております。<br>
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%= image_tag "img1.png",class:"img-contents" %>
        <div class="contentsText">
          <h2>好きな映画を紹介しませんか？</h2>
          <p>
          あなたの映画の感想を見てその映画を見るきっかけを与える。<br>
          映画を見た後、自分の気持ちを周りにアウトプットしませんか？<br>
          新規登録したら映画を投稿することができます。<br>
          みんなに感想を伝えよう。<br>
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%= image_tag "img1.png",class:"img-contents" %>
        <div class="contentsText">
          <h2>Dummy title</h2>
          <p>
          ここに文章がが入ります。ここに文章がが入ります。ここに文章がが入ります。<br>
          ここに文章がが入ります。ここに文章がが入ります。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <%= image_tag "img1.png",class:"img-contents" %>
        <div class="contentsText">
          <h2>Dummy title</h2>
          <p>
          ここに文章がが入ります。ここに文章がが入ります。ここに文章がが入ります。<br>
          ここに文章がが入ります。ここに文章がが入ります。
          </p>
        </div>
      </li>
  </ul>
</main>